body{
    background-color: #f3f3f3;
}
table *{
    text-align: center;
}
table td.coluna {
    vertical-align: middle !important;
}

.inputForm:focus{
    box-shadow: 0 0 0 0.2rem rgba(219, 92, 1, 0.5);
    border: rgb(219, 92, 1);
}

.form-control.inputForm.error{
    border: 2px solid red;
}

.subtitulo{
    color: rgb(219, 92, 1);
}

.ctrl-produto{
    font-weight: bolder;
    color: #ffc107;
    float: right;
}
.ctrl-produto:hover{
    color: #ffc107;
    border-bottom: 1px solid #ffc107;
    text-decoration: none;
}
#btn_cadastro{
    float: left;
    margin-right: 5px;
}
.btn-light{
    background: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
    border-color: #dae0e5;
}
.btn-light:hover{
    box-shadow: 0 0 0 0.2rem rgba(219, 92, 1, 0.5);
    border: rgb(219, 92, 1);
}
.btn-light:focus{
    box-shadow: 0 0 0 0.2rem rgba(219, 92, 1, 0.5);
    border: rgb(219, 92, 1);
}
.btn-success{
    background: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
    border-color: #398439;
}
.btn-success:hover{
    box-shadow: 0 0 0 0.2rem rgba(219, 92, 1, 0.5);
    border-color: #398439;
}
.btn-danger{
    background: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
    border-color: #b92c28;
}
.btn-danger:hover{
    box-shadow: 0 0 0 0.2rem rgba(219, 92, 1, 0.5);
    border-color: #ac2925;
}
.btn-relatorio{
    margin-top: 30px;
}

.nav-item .nav-link.nav-text{
    color: rgb(0, 0, 0);
}
.nav-item .nav-link.nav-text:hover{
    border-bottom: 1px solid black;
}

.form-estorno-cadastro{
    float: right;
    margin: -70px 32px 0px 0px;
}
.form-estorno-relatorio{
    float: right;
    margin: -38px 32px 0px 0px;
}

footer {
    bottom:0;
    width:100%;
}
.title-footer{
    margin-top: 30px;
    color: #fa5c00!important;
}
.footer-border-top{
    border-top: 1px solid #ffc107 !important;
}
.tituloProdutoCliente{
    color:#d85600;
    padding-left: 10px;
}
.precoProdutoCliente{
    padding-right: 10px;
    float: right;
}
.descricaoProdutoCliente{
    text-align: justify;
}
#text-qtd{
    width: 40px;
    padding-bottom: 5px;
    text-align: center;
}
#contentDescricao{
    margin-top: 15px;
}
.titulo-produto-descricao{
    padding: 15px;
}
#details-product{
    margin: 20px 0px;
}
#imgProduto{
    margin-bottom: 25px;
}
#title-desc-produto{
    font-weight: bolder;
    font-size: 20px;
}
#desc-product{
    text-align: justify;
    font-size: 22px;
    font-weight: lighter;
}
.opcoes-produto{
    margin: 5px 5px 10px 10px;
}
.opcoes-produto select{
    width: 150px;
}
.opcoes-produto #dropdown-cor{
    margin-left: 56px;
}
#rowOptionsProduto{
    padding: 6px 5px;
}
#add-to-cart{
    margin: 20px 5px 5px 5px;
}
#dropdown_opcoes{
    text-align: center;
    margin-top: 20%;
}
#btn_cadastro{
    float: left;
    margin-right: 5px;
}
#itensMenu{
    margin-right: auto;
}
#nav-saudacao{
    padding-left: 10px;
}
#price-product{
    font-size: 30px;
}

#inputImagemProduto{
    padding: 10px;
    border: 3px dashed #dae0e5;
    margin-bottom: 10px;
}
.btn-upload{
    margin-top: 41px;
}

.nomeFaq{
    font-size: 25px;
    text-align: center;
    margin: 15px 0px;
}
.perguntaFaq{
    font-size: 20px;
    font-weight: bolder;
    text-align: justify;
    margin: 15px 0px;
}
.respostaFaq{
    font-size: 16px;
    text-align: justify;
    margin: 0px 15px;
}